.laptop img {
        width: 100%;
}

.laptop h3 {
        color: var(--Very-dark-blue);
}

@media (min-width: 992px) {
        .laptop img {
                transform: scale(1.7) translateX(Calc(-3vw + -3%)) translateY(Calc(-2vh + 0%));
        }
}
@media (min-width: 1200px) {
        .laptop img {
                transform: scale(1.5) translateX(Calc(-5vw + -2%)) translateY(Calc(-2vh + 2%));
        }
}
